.box {
  border-radius: 10px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
